.account {
	display: flex;
	align-items: center;
	gap: 20px;

	&__list-search {
		display: none;
	}

	&__current {
		min-width: 16px;
		min-height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--fourth-family);
		font-size: 10px;
		font-weight: 400;
		color: var(--light-color);
		background-color: var(--primary-color);
		border: 1px solid ;
		border-radius: 50%;
		position: absolute;
		right: -4px;
		bottom: -4px;
		pointer-events: none;
	}

	&__button {
		--_color: var(--text-color-brighter);
		--_color-active: var(--primary-color);
		gap: 12px;
		position: relative;
	}

	.icon {
		--_i-size: 20px;
		transition: initial;
	}
}