.btn {
	--_font-size: 16px;
	--_font-weight: 400;
	--_line-height: 1;
	--_color: var(--text-color);
	--_background-color: transparent;
	--_border: 1px solid transparent;
	--_border-radius: 16px;
	--_padding-y: 0;
	--_padding-x: 0;
	--_transition-type: var(--transition-type);
	--_transition-duration: var(--transition-duration);

	--_color-active: var(--primary-color);
	--_background-color-active: transparent;

	width: fit-content;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: var(--_font-size);
	font-weight: var(--_font-weight);
	line-height: var(--_line-height);
	color: var(--_color);
	background-color: var(--_background-color);
	border: var(--_border);
	border-radius: var(--_border-radius);
	padding: var(--_padding-y) var(--_padding-x);
	cursor: pointer;
	transition: font var(--_transition-duration) var(--_transition-type), color var(--_transition-duration) var(--_transition-type), background var(--_transition-duration) var(--_transition-type);

	.icon {
		transition: initial;
	}

	&:is(:hover, :focus-visible, :active, .is-active) {
		color: var(--_color-active);
		background-color: var(--_background-color-active);
	}
}

.btn-dark {
	--_font-weight: 700;
	--_color: var(--light-color);
	--_background-color: var(--background-dark);
	--_border: 1px solid transparent;
	--_border-radius: 12px;
	--_padding-y: 13px;
	--_padding-x: 10px;

	--_color-active: var(--light-color);
	--_background-color-active: var(--primary-color);

	&-lg {
		--_padding-y: 20px;
	}
}

.btn-primary {
	--_font-size: 16px;
	--_font-weight: 700;
	--_color: var(--light-color);
	--_background-color: var(--primary-color);
	--_border: 1px solid var(--primary-color);
	--_border-radius: 12px;
	--_padding-y: 13px;
	--_padding-x: 10px;
}

.btn-outline {
	--_font-size: 16px;
	--_font-weight: 500;
	--_color: var(--text-color);
	--_border: 1px solid #D7DDE3;
	--_border-radius: 12px;
	--_padding-y: 13px;
	--_padding-x: 10px;
	
	--_color-active: var(--light-color);
	--_background-color-active: var(--primary-color);
	text-align: center;

	&:is(:hover, :focus-visible, :active, .is-active) {
		border-color: var(--primary-color);
	}
}

.btn-outline-lg {
	--_padding-y: 20px;
}

.btn-outline-primary {
	--_font-size: 16px;
	--_font-weight: 700;
	--_color: var(--primary-color);
	--_border: 1px solid var(--primary-color);
	--_border-radius: 12px;
	--_padding-y: 13px;
	--_padding-x: 10px;

	--_color-active: var(--light-color);
	--_background-color-active: var(--primary-color);
	text-align: center;
}

.btn-outline-secondary {
	--_font-size: 16px;
	--_font-weight: 500;
	--_color: var(--dark-color);
	--_background-color: var(--background-light);
	--_border: 1px solid #D7DDE3;
	--_border-radius: 12px;
	--_padding-y: 13px;
	--_padding-x: 10px;

	--_color-active: var(--light-color);
	--_background-color-active: #D7DDE3;
}

.btn--goto {
	width: 100%;
}