.wrapper-field {

	&__inner {
		position: relative;

		&.is-valid {

			.field {

				&__placeholder {

					&-required {
						opacity: 1;
					}
				}

				&:not(:placeholder-shown) {

					& ~ .field__placeholder {
						opacity: 0;
					}
				}
			}
		}
	}
	
	.field {
		width: 100%;

		&::placeholder {
			opacity: 0;
		}

		&:not(:placeholder-shown) {

			& ~ .field__placeholder {
				opacity: 0;
			}
		}

		&__title {
			font-size: 12px;
			font-weight: 400;
			line-height: 1;
			color: var(--dark-color);
			margin-block-end: 12px;
			padding-inline: 20px;

			&-required {
				color: var(--primary-color);
			}
		}

		&__placeholder {
			font-size: 18px;
			font-weight: 400;
			line-height: 1;
			color: var(--text-color-brighter);
			padding: 20px;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;

			&-required {
				color: var(--primary-color);
				opacity: 0;
			}
		}

		&:focus {

			& ~ .field__placeholder {
				opacity: 0;
			}
		}
	}
}

.field {
	--_height: 58px;
	--_font-size: 18px;
	--_font-weight: 400;
	--_line-height: normal;
	--_color: var(--dark-color);
	--_background-color: var(--background-gray);
	--_border: 1px solid transparent;
	--_border-radius: 12px;
	--_padding-y: 8px;
	--_padding-x: 20px;

	--_background-color-active: var(--background-gray);

	--_placeholder-color: var(--text-color-brighter);

	min-height: var(--_height);
	font-family: var(--font-family);
	font-size: var(--_font-size);
	font-weight: var(--_font-weight);
	line-height: var(--_line-height);
	color: var(--_color);
	background-color: var(--_background-color);
	border: var(--_border);
	border-radius: var(--_border-radius);
	padding: var(--_padding-y) var(--_padding-x);
	outline: none;

	&:focus {
		background-color: var(--_background-color-active);

		&::placeholder {
			visibility: hidden;
			opacity: 0;
		}
	}

	&::placeholder {
		font-family: var(--font-family);
		font-size: var(--_font-size);
		font-weight: var(--_font-weight);
		color: var(--_placeholder-color);
		transition: color var(--transition-duration) var(--transition-type);
	}

	&-textarea {
		--_height: 120px;
		--_padding-y: 16px;
		--_padding-x: 20px;

		max-height: 360px;
		resize: vertical;
	}
}