@media screen and (max-width: 1840px) {

	//** (Start) General **//
	.wrapper-slider {

		&--full {


			&-md-down {

				.swiper-button-prev, .swiper-rtl .swiper-button-next {
					left: var(--container-offset);
				}
		
				.swiper-button-next, .swiper-rtl .swiper-button-prev {
					right: var(--container-offset);
				}
			}
		}
	}
	
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: -20px;
	}
	
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: -20px;
	}
	//** (End) General **//

	//** (Start) Blocks **//
	.swiper-rtl .swiper__product-thumb,
	.swiper__product-thumb {

		&-prev,
		&-next {
			right: initial;
			left: 50%;
		}
	}
	//** (End) Blocks **//

}

@media screen and (max-width: 1400px) {

	//** (Start) General **//
	.account {
		gap: 14px;

		&__name {
			display: none;
		}

	}

	.card--cart {

		&__header {
			max-width: 240px;
		}

		&__price {
			flex-direction: column-reverse;
			align-items: flex-end;
		}
	}
	//** (End) General **//

	//** (Start) Blocks **//
	.header {

		&__bottom {
			gap: 30px;

			&-menu {
				gap: 30px;
			}
		}
	}

	.category {


		&__inner {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.cashback {


		&__header {
			grid-template-columns: .1fr .5fr;

			&-image {
				width: 60%;
			}
		}
	}

	.catalog {


		&__content {


			&-list {
				grid-template-columns: repeat(2, minmax(280px, 600px));
			}
		}
	}

	.cart {

		&__list {

			&-item {
				gap: 20px;
				padding-inline-end: 16px;

				&:first-child {
					padding-inline-end: 16px;
				}
			}
		}
	}

	.order {

		&__step {

			&-fields {

				&-full {

					&--5 {
						grid-template-columns: repeat(4, 1fr);

						& > *:last-child {
							grid-column: -1 / 1;
						}
					}
				}
			}
		}

		&__choice {

			&-method {

				&-label {
					flex-basis: 100%;
				}
			}
		}
	}
	//** (End) Blocks **//

}

@media screen and (max-width: 1200px) {

	//** (Start) General **//
	.card--cart {

		&__mobile {
			grid-column: -1 / 1;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 10px 6px;
		}

		&__counter {
			align-self: center;
			margin-block-start: 0;
		}

		&__buttons {
			flex-direction: column;
			align-items: flex-end;
			gap: 12px;
			order: 1;
			margin-block-start: 0;
		}
	}
	//** (End) General **//

	//** (Start) Blocks **//
	.header {

		&__bottom {
			gap: 20px;

			&-menu {
				gap: 20px;
			}
		}
	}

	.category {


		&__inner {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.cashback {


		&__header {
			grid-template-columns: 1fr;
			gap: 30px;
			padding: 0;

			&-image {
				width: 100%;
				display: block;
				position: static;
			}

			&-info {
				padding: 40px 40px 0;
				text-align: center;
				order: -1;
			}
		}
	}

	.news {

		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.swiper-rtl .swiper__product-thumb,
	.swiper__product-thumb {

		&-prev,
		&-next {
			right: initial;
			left: 50%;
		}

	}

	.product {

		&__main {
			grid-template-columns: minmax(360px, 785px) minmax(180px, 280px) 1fr;
			gap: 20px;
		}

		&__swiper {

			&-wrapper {
				grid-template-columns: 70px minmax(300px, 675px);
				grid-template-rows: minmax(280px, 400px);
				gap: 16px;
			}
		}
	}

	.swiper__product {

		&-thumb {

			&-image {
				height: 56px;
			}
		}

		&-image {
			height: 360px;
		}
	}

	.favorite {

		&__list {
			grid-template-columns: repeat(3, minmax(270px, 430px));
		}
	}

	.cart {

		&__list {

			&-item {

				&:first-child {
					display: none;
				}
			}
		}

		&__aside {
			margin-block-start: 0;
		}
	}

	.order {

		&__step {

			&-fields {

				&-full {

					&--5 {
						grid-template-columns: repeat(2, 1fr);

						& > *:last-child {
							grid-column: -1 / 1;
						}
					}
				}
			}
		}
	}

	.footer {


		&-top {


			&__detail {
				grid-template-columns: repeat(2, max-content);
			}
		}
	}
	//** (End) Blocks **//

}

@include tablet {

	//** (Start) General **//
	.tabs {

		&__nav {
			justify-content: flex-start;
		}
	}
	//** (End) General **//

	//** (Start) Blocks **//
	.header {

		&-fixed {
			top: 0;
		}

		.burger {
			display: block;
		}

		> .container {
			display: flex;
			align-items: center;
			padding-block: 20px;
		}

		&__top,
		&__bottom {
			padding: 0;
			gap: 20px;
		}

		&__top {
			width: 100%;

			&-menu {
				display: none;
			}
		}

		&__bottom {
			gap: 20px;

			&-menu {
				flex-direction: column;
				align-items: flex-start;
				gap: 20px;

				&-link {
					--_padding-y: 0;
				}
			}
		}

		&__logo {
			margin-inline: auto;
		}

		&__menu {
			width: calc(100% - 60px);
			max-width: 360px;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 12px;
			align-items: flex-start;
			background-color: var(--background-light);
			padding: 20px;
			position: fixed;
			top: 0;
			right: 0;
			transform: translateX(100%);
			z-index: 20;

			transition: transform var(--transition-duration) var(--transition-type);

			&-list {
				display: flex;
				align-items: center;
				gap: 12px;
				margin-block: auto 12px;

				a {
					color: var(--text-color-brighter);
					position: relative;

					&:is(:hover, :focus-visible, :active, .is-active) {
						color: var(--primary-color);
					}
				}

				.icon {
					--_i-size: 20px;
					transition: initial;
				}
			}

			&.menu--active {
				transform: initial;
			}
		}

		&__dropdown {
			
			&-btn {
				--_color: var(--dark-color);
				padding: 0;
			}

			&-menu {
				display: none;
				padding: 20px 0 0;
				box-shadow: initial;
				opacity: 1;
				visibility: visible;
				position: static;
			}

			&-list {
				gap: 20px;
				border: 0;
				padding: 0;
			}

			&-link {
				--_font-weight: 700;
				--_color: var(--dark-color);
				white-space: unset;
			}

			&:is(:hover, :focus-visible, :active, .is-active) {

				.header__dropdown-menu {
					display: flex;
				}

			}
		}

		&__search {

			&-wrapper {

				&.is-show {
					width: 20px;
					height: 20px;
					margin-block: -6px;
					position: relative;

					.header__search {
						min-width: 360px;
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						z-index: 16;
					}
				}
			}
		}

		&__callback {
			flex-direction: column;
			align-items: flex-start;
			gap: 6px;
		}

	}

	.search {

		&__dropdown {
			height: 70vh;
			height: 70dvh;
		}
	}

	.cashback {

		&__advantages {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.mailing {
		grid-template-columns: 1fr;

		&__form {
			grid-template-columns: minmax(220px, 70%) minmax(140px, 30%);
		}
	}

	.catalog {

		&__filter {
			width: calc(100% + var(--container-offset) * 2);
			margin-inline: calc(var(--container-offset) * -1);
			overflow: hidden;
			position: sticky;
			top: var(--header-height);

			&::before {
				content: '';
				width: 100%;
				height: 1px;
				background-color: #D7DDE3;
				position: absolute;
				bottom: 1px;
				left: 0;
			}

			&-title {
				display: none;
			}

			&-content {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 20px;
				padding: 0 var(--container-offset) 2px;
				overflow-x: scroll;

				&::-webkit-scrollbar {
					display: none;
				}
			}

			&-accordion {
				overflow: visible;
				
				&:not(:last-child) {
					margin-block-end: initial;
				}

				.accordion__title {
					transform: translateY(1px);
					padding-block: 14px;
					position: relative;

					&::before {
						content: '';
						width: 100%;
						height: 2px;
						background-color: transparent;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 1;
					}
				}

				.accordion__content {
					display: none;
				}

				&[open] {


					.accordion__title {
						&::before {
							background-color: var(--primary-color);
						}
					}
				}
			}
		}

		&__inner {
			grid-template-columns: 1fr;
			gap: 60px;
		}
	}

	.product {

		&__header {
			flex-wrap: wrap;
			gap: 16px;
			justify-content: space-between;
			grid-column: -1 / 1;
			margin-block-start: 40px;

			&-title {
				width: 100%;
			}

			&-reviews {
				margin-inline-start: 0;
			}
		}

		&__main {
			grid-template-columns: 1fr 1fr;
			gap: 0 20px;

			&-helpers {
				grid-column: -1 / 1;
				margin-block-end: 30px;
			}
		}

		&__swiper {

			&-wrapper {
				grid-column: -1 / 1;
				grid-template-columns: 130px minmax(300px, 1024px);
				grid-template-rows: minmax(280px, 550px);
				gap: 16px;
			}
		}

		&__info {
			max-width: 280px;
			width: 100%;
			min-width: 240px;
		}
	}

	.swiper__product {

		&-thumb {

			&-image {
				height: 96px;
			}
		}

		&-image {
			height: 500px;
		}
	}

	.product {

		&-model {

			&__benefits {
				grid-template-columns: repeat(2, 1fr);
			}

			&__detail {
				grid-template-columns: 1fr;
				gap: 40px;

				&-item {
					display: flex;
					align-items: flex-start;
					gap: 20px;
				}

				&-image {
					width: auto;
					max-width: 240px;
					height: 100%;
					margin-block-end: 0;
				}
			}
		}

		&-reviews {

			&__header {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		&-articles {

			&__list {
	
				&-item {
					gap: 30px;
				}
			}

			&__image {
				width: 120px;
				height: 120px;
			}

			&__link {
				margin-block-end: 0;
			}

			&__btn {
				max-width: 200px;
			}
		}
	}

	.favorite {

		&__list {
			grid-template-columns: repeat(2, minmax(270px, 600px));
		}
	}

	.cart {

		&__container {
			grid-template-columns: 1fr;
		}
	}

	.order {

		&__inner {
			grid-template-columns: 1fr;
		}
	}

	.footer {


		&-top {


			&__container {
				grid-template-columns: 1fr;
			}
		}
	}
	//** (End) Blocks **//

}

@include small-tablet {

	//** (Start) General **//
	h1,
	.h1 {
		font-size: 36px;
	}

	h2,
	.h2 {
		font-size: 22px;
	}

	.page-header {
		padding-block: 40px;

		&__title {
			font-size: 32px;
		}
	}

	.flex-wrap-md {
		flex-wrap: wrap !important;
	}

	.section {
		margin-block-end: 60px;

		&__header {
			margin-block-end: 30px;
		}

		&__title {
			margin-block-end: 0;
		}

		&__link {
			display: none;
		}
	}

	.border-top {
		border: 0;
		padding-block-start: 0;

		&::before {
			content: '';
			display: block;
			width: calc(100% + var(--container-offset) * 2);
			margin-left: calc(var(--container-offset) * -1);
			border-top: 1px solid #D7DDE3;
			grid-column: -1 / 1;
			margin-block-end: 20px;
		}
	}

	.wrapper-field {

		.field {

			&-textarea {
				--_padding-y: 10px;
				--_padding-x: 12px;
			}

			&__title {
				margin-block-end: 8px;
				padding-inline: 12px;
			}

			&__placeholder {
				font-size: 16px;
				padding: 13px 12px;
			}
		}
	}

	.field {
		--_height: 44px;
		--_font-size: 16px;
		--_padding-x: 12px;
	}

	.btn-dark {
		--_font-size: 14px;
		--_padding-y: 14px;
	}

	.btn-outline {
		--_font-size: 16px;
		--_padding-y: 13px;
	}

	.btn-y-pay,
	.btn-spb {
		--_padding-y: 4px;

		min-height: 44px;
	}

	.custom-checkbox {
		gap: 6px;

		&__field {
			width: 32px;
			height: 32px;
			border-radius: 6px;
		}

		&__checked {
			background-size: 13px 10px;
		}

		&__content {
			font-size: 12px;
		}

		&--radio {
			gap: 12px;

			.custom-checkbox {

				&__field {
					width: 22px;
					height: 22px;
				}
			}
		}
	}

	.md-hidden {
		display: none;
	}

	.wrapper-slider {

		&--full {

			&-md-up {
				width: 100%;
				max-width: var(--container-width);
				padding-inline: var(--container-offset);

				& > .swiper {
					padding-inline: 0;
				}
			}

			&-md-down {
				max-width: initial;
				padding-inline: 0;

				& > .swiper {
					padding-left: max(var(--container-offset), calc((100% - var(--content-width)) / 2));
					padding-right: max(var(--container-offset), calc((100% - var(--content-width)) / 2));
				}
		
				.swiper-button-prev, .swiper-rtl .swiper-button-next {
					left: 0;
				}
		
				.swiper-button-next, .swiper-rtl .swiper-button-prev {
					right: 0;
				}
			}
		}
	}

	.graph-modal {
		--_modal-padding-x: 20px;

		&__close {

			&-icon {
				--_i-size: 12px;
			}
		}

		&__title {
			font-size: 22px;
			margin-block-start: 10px;
		}

		&__list {
			gap: 12px;
			margin-block-end: 16px;
		}

		&__buttons {
			gap: 16px;

			> * {
				max-width: 100%;
			}
		}

		&__interested {
			margin-block-start: 40px;
		}
	}

	.swiper-pagination {
		--swiper-pagination-bullet-size: 8px;
		--swiper-pagination-bullet-horizontal-gap: 4px;
	}

	.alert {

		&__modal {
			padding: 20px;

			&-title {
				padding-inline: 30px;
			}

			&-close {
				top: 20px;
				right: 20px;
				transform: initial;
			}
		}
	}

	.cookie {

		&__modal {
			flex-direction: column;
			gap: 14px;
			text-align: center;
			padding: 16px;

			&-text {
				font-size: 16px;
			}
		}
	}

	.section-banner {
		margin-block-end: 0;
	}

	.banner {
		min-height: 320px;
		display: flex;
		align-items: flex-end;
		margin: 20px 20px 0 20px;
		border-radius: 16px;
		overflow: hidden;

		&__inner {
			width: 100%;
			min-height: 200px;
			padding: 30px 16px;
		}
	}

	.price {
		flex-wrap: wrap;
		gap: 8px;

		&-main {
			width: 100%;
			order: 1;
			font-size: 18px;
		}

		&-sale {
			font-size: 14px;
		}
	}

	.card {
		--_padding-y: 12px;
		--_padding-x: 6px;

		&__image {
			max-width: 100px;
			min-height: 100px;
			margin: 0 auto 12px;
		}

		&__header {
			margin-block-end: 12px;

			&-article {
				font-size: 12px;
			}

			&-title {
				font-size: 16px;
			}
		}

		&__detail {
			margin-block-end: 12px;
		}

		&__price {
			margin-block-end: 12px;
		}

		&__split,
		&__yandex {
			font-size: 12px;

			&-badge {

				.icon {
					--_i-size: 10px;
				}
			}
		}

		&__buttons {
			gap: 12px 4px;

			&.flex-wrap-md {
		
				.btn--add,
				.btn--goto {
					width: calc(100% - 70px);
					order: 1;
				}
	
				.card__favorite {
					order: 2;
				}
			}
		}
	}

	.card--cart {

		&__picture {
			width: 80px;
			height: 80px;
		}

		&__image {
			height: 70px;
		}

		&__info {
			padding-block: 10px;
		}

		&__header {
			max-width: 100%;
			gap: 14px;
		}

		&__title {
			font-size: 16px;
		}

		&__counter {

			.counter__minus,
			.counter__plus {
				display: none;
			}

			.counter__input {
				min-width: 80px;
				min-height: 40px;
			}
		}

		&__price {
			font-size: 16px;
		}
	}

	.card--mini {
		gap: 12px;
		padding: 16px;

		&__picture {
			width: 80px;
			height: 80px;
		}

		&__image {
			height: 70px;
		}

		&__info {
			gap: 12px;
		}

		&__title {
			font-size: 16px;
		}
	}

	.breadcrumbs {
		margin-block: 20px;

		&__list {
			display: none;
		}

		&__link {
			--_color: var(--text-color);
			gap: 8px;

			&--mobile {
				display: inline-flex;
			}
		}
	}

	.rating {
		--_stars-size: 14px;
		--_stars-gap: 4px;
		gap: 10px;

		&__text {
			display: none;
		}

		&__current {
			display: block;
		}
	}

	.tabs {

		&__nav {

			&-btn {
				--_font-size: 16px;
				padding-block-end: 16px;
			}
		}
	}

	.pagination {
		margin-block-start: 20px;

		&__prev,
		&__next {
			--_border-radius: 6px;
			--_padding-y: 8px;
			--_padding-x: 8px;
		}

		&__icon {
			--_i-size: 6px;
		}

		&__list {
			gap: 8px;
			
			&-link {
				--_font-size: 12px;
				--_border-radius: 6px;
				--_padding-y: 4px;
				--_padding-x: 4px;
	
				min-width: 24px;
				min-height: 24px;
			}
		}
	}

	.page__empty {
		gap: 20px;
		padding: 30px 16px;

		&-title {
			display: none;
		}

		&-text {
			font-size: 16px;
		}
	}
	//** (End) General **//

	//** (Start) Blocks **//
	.swiper__hero {

		&-prev,
		&-next {
			display: none;
		}
	}

	.hero {
		min-height: 520px;
		display: flex;
		align-items: flex-end;
		margin: var(--container-offset) var(--container-offset) 0 var(--container-offset);
		border-radius: 16px;
		overflow: hidden;

		&__inner {
			width: 100%;
			min-height: 270px;
			align-items: center;
			padding-block: 40px;
		}

		&__title,
		&__text  {
			text-align: center;
		}

		&__title {
			max-width: 360px;
			margin-block-end: 30px;
		}

		&__text {
			max-width: 280px;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	.category {


		&__inner {
			grid-template-columns: 1fr;
			gap: 20px;

			&::before {
				margin-block-end: initial;
			}
		}

		&__link {


			&-image {
				transform: initial;
			}
		}
	}

	.swiper__interested {
		width: calc(100% + var(--container-offset) * 2);
		margin-inline: calc(var(--container-offset) * -1);
		padding-inline: var(--container-offset);
	}

	.swiper__interested-next,
	.swiper__interested-prev {
		display: none;
	}

	.swiper__card {

		&-image-pagination {
			display: none;
		}
	}

	.swiper__card-next,
	.swiper__card-prev {
		display: none;
	}

	.card-search {

		&__price {
			flex-wrap: nowrap;

			.price-main {
				width: auto;
				order: -1;
			}
		}
	}

	.cashback {


		&__header {
			gap: 30px;

			&-info {
				padding: 40px 16px 0;
			}

			&-title {
				font-size: 24px;
				margin-block-end: 20px;
			}

			&-text {
				font-size: 16px;
			}
		}

		&__advantages {
			gap: 10px;
		}

		&__advantage {
			min-height: initial;
			padding: 20px 24px;

			&-title {
				font-size: 16px;
				margin-block-end: 8px;
			}

			&-text {
				font-size: 14px;
			}
		}
	}

	.swiper__tech {
		overflow: hidden;

		&-next,
		&-prev {
			display: none;
		}

		&-pagination {
			display: block;
		}
	}

	.tech {
		padding: 16px;

		&__detail {
			min-height: initial;

			&-title {
				font-size: 22px;
				margin-block-end: 12px;
			}

			&-btn {
				font-size: 12px;

				.icon {
					--_i-size: 8px;
				}
			}
		}
	}

	.news {

		&__item {
			--_padding-y: 20px;

			&-image {
				margin-block-end: 12px;
			}

			&-time {
				font-size: 14px;
				margin-block-end: 10px;
			}

			&-title {
				font-size: 18px;
			}

			&-buttons {
				margin-block-start: 20px;
			}

			&-button {
				--_font-size: 14px;

				.icon {
					--_i-size: 8px;
				}
			}
		}
	}

	.section-mailing {
		margin-block-end: 40px;
	}

	.mailing {
		gap: 20px;
		padding: 20px 16px;

		&__info {

			&-title {
				font-size: 18px;
				margin-block-end: 12px;
			}

			&-text {
				font-size: 14px;
			}
		}

		&__form {
			grid-template-columns: 1fr;
			gap: 8px;

			&-field {
				--_font-size: 14px;
			}

			&-checkbox {
				order: initial;
			}

			&-button {
				margin-block-start: 8px;
			}
		}
	}

	.catalog {

		&__filter {

			.accordion__title {
				font-size: 16px;
			}
		}

		&__inner {
			gap: 30px;

			&-title {
				font-size: 22px;
				margin-block-end: 30px;
			}
		}

		&__content {

			&-inner {
				
				& + & {
					margin-block-start: 20px;
				}
			}

			&-header {
				margin-block-end: 20px;
			}

			&-title {
				font-size: 22px;
			}

			&-brand {
				height: 24px;
			}

			&-current {
				font-size: 14px;
			}

			&-list {
				grid-template-columns: repeat(2, minmax(160px, 600px));
				gap: 10px;
			}
		}

	}

	.swiper-rtl .swiper__product-thumb,
	.swiper__product-thumb {

		&-prev,
		&-next {
			display: none;
		}

	}

	.product {

		&__header {
			gap: 10px;
			margin-block: 20px;
			padding-block-end: 20px;

			&-title {
				font-size: 18px;
			}
		}

		&__favorite {
			--_font-size: 14px;

			&-icon {
				--_i-size: 22px;
			}
		}

		&__main {
			grid-template-columns: 1fr;
			margin-block-end: 60px;

			&-helpers {
				gap: 8px;
				margin-block-end: 20px;

				&-link {
					--_font-size: 12px;
				}

				&-icon {
					--_i-size: 8px;
					margin-inline-start: 8px;
				}
			}
		}

		&__swiper {

			&-wrapper {
				grid-template-columns: minmax(280px, 728px);
				grid-template-rows: auto;
				gap: 10px;

				> *:first-child {
					order: 1;
				}
			}
		}

		&__info {
			max-width: 100%;
			width: 100%;
			min-width: initial;
			margin-block-end: 20px;
		}

		&__brand {
			margin-block-end: 20px;

			&-title {
				font-size: 14px;
			}

			&-btn {
				--_font-size: 12px;

				&-icon {
					--_i-size: 8px;
				}
			}
		}

		&__choice {
			margin-block-end: 20px;

			&-title {
				margin-block-end: 10px;
			}

			&-list {
				gap: 10px;

				> * {
					flex-basis: calc(50% - 5px);
				}
			}

			&-btn {
				max-width: 100%;
			}
		}

		&__benefits {
			padding-block-start: 20px;

			&-list {
				gap: 10px;
				font-size: 12px;
			}

			&-item {

				&:last-child {
					margin-block-start: 0;
				}
			}

			&-image {
				height: 20px;
			}

			&-link {
				--_font-size: 12px;

				&-icon {
					--_i-size: 8px;
				}
			}
		}

		&__aside {
			max-width: initial;
			min-width: initial;

			&-benefits {
				gap: 10px;
				margin-block-start: 10px;

				&-item {
					gap: 8px;
					padding: 12px;
				}
			}
		}

		&__detail {
			border-top: 1px solid #D7DDE3;
			border-radius: 0;
			padding: 20px 0 0;
			box-shadow: initial;

			&-price {
				gap: 8px 20px;
				margin-block-end: 16px;

				.price-main {
					width: auto;
					order: unset;
				}

				.price-sale {
					font-size: 16px;
				}
			}

			&-delivery {
				gap: 8px;
				font-size: 14px;
				margin-block-end: 20px;

				&-icon {
					--_i-size: 20px;
				}
			}

			&-btn {
				--_font-size: 16px;
				--_padding-y: 13px;

				margin-block-end: 10px;
			}

			&-cashback {
				padding: 12px;

				.card__split,
				.card__yandex {

					&-icon {
						--_i-size: 12px;
					}
				}

				.card__split {
					padding-block-end: 12px;
				}

				.card__yandex {
					padding-block-start: 12px;
				}

				.card__ypay {
					margin-block-start: 16px;

					&-text {
						font-size: 10px;
					}

					&-image {
						height: 12px;
					}
				}
			}
		}

		&__bottom {

			&-title {
				font-size: 24px;
			}
		}

		&-model {

			&__container {
				min-height: 100vw;
			}

			&__title,
			&__text {
				color: var(--dark-color);
			}

			&__title {
				font-size: 22px;
				margin-block-end: 10px;
			}

			&__text {
				font-size: 16px;
				font-weight: 400;
			}

			&--mobile {
				display: block;
				padding-block: 20px 40px;
			}

			&__benefits {
				padding-block: 20px;

				&-picture {
					margin-block-end: 10px;
					padding: 26px;
				}

				&-image {
					width: 26px;
					height: 26px;
				}

				&-title {
					font-size: 16px;
					margin-block-end: 8px;
				}

				&-text {
					font-size: 14px;
				}
			}

			&__detail {
				padding-block: 40px;
				
				&-item {
					flex-direction: column;
					gap: 30px;
				}

				&-image {
					width: 100%;
					max-width: 100%;
				}

				&-title {
					font-size: 22px;
					margin-block-end: 10px;
				}

				&-text,
				&-list {
					font-size: 16px;
				}
			}
		}

		&-accordion {

			.accordion {

				&__title {
					font-size: 18px;
					padding-block: 20px;

					&-icon {
						--_i-size: 16px;
					}
				}

				&__content {
					padding-block-end: 20px;
				}
			}

			&__table {
				width: calc(100% + var(--container-offset) * 2);
				font-size: 16px;
				margin-inline: calc(var(--container-offset) * -1);

				&-tr {

					> * {
						padding-block: 8px;
						
						&:first-child {
							border-radius: 0;
						}
	
						&:last-child {
							border-radius: 0;
						}
					}
				}
			}
		}

		&-reviews {

			&__container {
				padding-block: 40px;
			}

			&__header {
				flex-direction: row;
				align-items: center;
				gap: 8px;
				margin-block-end: 40px;
			}

			&__list {
				gap: 20px;
			}

			&__rating {
				--_stars-size: 16px;
				--_stars-gap: 8px;
				gap: 20px;
				
				.rating__text {
					font-size: 18px;

					&-accent {
						font-size: 22px;
					}
				}
			}

			&__item {
				padding: 20px 16px;
			}

			&__author {
				gap: 10px;
				margin-block-end: 20px;

				&-name,
				&-time {
					font-size: 12px;
				}

				&-rating {
					--_stars-size: 10px;
					--_stars-gap: 8px;
				}
			}

			&__detail {

				& + & {
					margin-block-start: 16px;
				}

				&-title {
					font-size: 16px;
					margin-block-end: 12px;
				}

				&-text {
					font-size: 12px;
				}
			}

			&__images {
				gap: 10px;
				margin-block-start: 20px;
			}

			&__image {
				width: 60px;
				height: 60px;
			}
		}

		&-articles {

			&__container {
				padding-block: 40px;
			}

			&__list {
				gap: 20px;
	
				&-item {
					gap: 16px;
					padding: 16px;
				}
			}

			&__image {
				width: 80px;
				height: 80px;
			}

			&__time,
			&__title {
				margin-block-end: 10px;
			}

			&__time {
				font-size: 12px;
			}

			&__title {
				font-size: 16px;
			}

			&__link {
				--_font-size: 12px;

				&-icon {
					--_i-size: 8px;
				}
			}

			&__btn {
				max-width: 140px;
			}
		}
	}

	.swiper__product {

		&-thumb {

			&-image {
				height: 19vw;
			}
		}

		&-image {
			height: 70vw;
		}
	}

	.favorite {

		.border-top {
			padding-block-start: 0;

			&::before {
				margin-block-end: 30px;
			}
		}

		&__list {
			grid-template-columns: repeat(3, minmax(170px, 600px));
			gap: 10px;
		}
	}

	.cart {

		&__container {
			gap: 40px;
		}

		&__list {
			gap: 20px;

			&-item {
				grid-template-columns: 80px 1fr;
				gap: 12px 10px;
			}
		}
	}

	.order {

		&__header {
			margin-block-end: 30px;

			&-card {
				gap: 10px;

				&-item {
					width: 80px;
					height: 80px;
					padding: 6px;
				}
			}

			&-info {
				max-width: 200px;
				font-size: 18px;
				gap: 20px;
				padding-inline-start: 30px;
			}
		}

		&__choice {
			gap: 20px;

			&-item {
				padding: 16px;
			}

			&-checkbox {
				padding: 12px;
			}

			&-method {
				align-items: flex-start;
				gap: 14px 12px;
				padding: 14px 12px;

				&-buttons {
					gap: 14px;
				}

				&-btn {
					flex-basis: 100%;
				}
			}
		}

		&__step {
			padding: 20px 16px;

			&-header {
				grid-template-columns: 1fr;
				gap: 30px;

				&-edit {
					max-width: 100%;
				}
			}

			&-content {
				padding-block-start: 30px;
			}

			&-title {
				font-size: 20px;
			}

			&-form {
				gap: 20px;

				&-btn {
					margin-block-start: 10px;
				}
			}

			&-fields {

				&-full {

					&--5 {
						gap: 20px;
					}
				}
			}
		}

		&__detail {
			padding: 20px 16px;

			&-title {
				font-size: 22px;
			}

			&-list {
				font-size: 16px;
				margin-block-end: 20px;
			}

			&-total {
				font-size: 20px;
				padding-block: 30px 40px;
			}

			&-btn {
				margin-block-end: 10px;
			}

			&-cashback {
				padding: 12px;
			}

			.card__split {
				padding-block-end: 12px;
			}

			.card__yandex {
				padding-block-start: 12px;
			}

			.card__ypay {
				margin-block-start: 16px;

				&-text {
					font-size: 10px;
				}

				&-image {
					height: 12px;
				}
			}
		}

		&__promocode {
			margin-block-start: 20px;
			padding: 20px 16px;

			.field {

				&-success {
					--_i-size: 12px;
					top: 16px;
					right: 12px;
				}
			}
		}
	}

	.footer {


		&-top {
			padding-block: 40px;

			&__container {
				gap: 40px;
			}

			&__logo {
				max-width: 200px;
				margin-block-end: 20px;
			}

			&__callback {
				
				& + & {
					margin-block-start: 20px;
				}

				.callback__number {
					font-size: 22px;
				}
			}

			&__detail {
				grid-template-columns: repeat(2, 1fr);
				gap: 30px 16px;
			} 

			&__list {
				grid-template-columns: 1fr;
				gap: 20px;

				&:first-child {
					grid-column: -1 / 1;
				}

				&-inner {
					grid-template-columns: repeat(2, 1fr);
					gap: 20px 16px;
					justify-content: space-between;
				}

				&-title {
					margin-block-end: 10px;
				}

				&-link {
					--_font-size: 16px;
				}
			}
		}

		&-bottom {
			padding-block: 40px;

			&__detail,
			&__copy {
				font-size: 12px;
				font-weight: 400;
			}

			&__list {
				gap: 10px;
				text-align: left;
			}

			&__link {
				--_font-size: 12px;
			}
		}
	}
	//** (End) Blocks **//

}


@media screen and (max-width: 576px) {

	//** (Start) General **//
	.counter-outline {

		.counter__input {
			min-width: 44px;
			min-height: 34px;
		}
	}

	.card--cart {

		&__mobile {
			gap: 10px 12px;
		}

		&__value {
			font-size: 14px;
		}

		&__counter,
		&__price {
			flex: 0 0 calc(50% - 6px);
		}

		&__counter {

			.counter__input {
				min-width: 80px;
				min-height: 40px;
			}
		}

		&__price {
			flex-direction: row;
			justify-content: flex-end;
			gap: 4px 16px;
			
			.price-main {
				width: auto;
			}
		}

		&__buttons {
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px 12px;
		}

		&__btn {
			--_background-color: var(--background-gray);
			--_border-radius: 16px;
			--_padding-y: 14px;
    	--_padding-x: 10px;

			--_background-color-active: var(--background-gray);

			flex: 0 0 calc(50% - 6px);
		}
	}

	.card--mini {

		&__info {
			flex-wrap: wrap;
			gap: 8px 16px;
		}

		&__title {
			max-width: 100%;
		}

		&__counter {
			margin-inline-start: 0;

			.counter__minus,
			.counter__plus {
				display: none;
			}
		}

		&__price {
			width: calc(100% - 68px);
			flex-direction: row;
			align-items: center;
			gap: 6px 12px;
			margin-inline-start: 8px;

			.price-main {
				width: fit-content;
				order: -1;
			}
		}
	}

	.page__empty {
		&-link {
			max-width: 100%;
		}
	}
	//** (End) General **//

	//** (Start) Blocks **//
	.header {

		&__search {
			
			&-wrapper {

				&.is-show {
					
					.header__search {
						min-width: initial;
						width: calc(100% - var(--container-offset) * 2);
						position: fixed;
						top: 14px;
						left: var(--container-offset);
						right: var(--container-offset);
						z-index: 16;
						transform: initial;
					}
				}
			}
		}
	}

	.search {

		&__dropdown {
			width: auto;
			height: calc(100% - 100px);
			position: fixed;
			top: 80px;
			left: var(--container-offset);
			right: var(--container-offset);
		}
	}

	.category {

		&__link {
			min-height: 160px;
			padding: 20px;

			&-title {
				font-size: 18px;
				margin-block-end: 12px;
			}

			&-btn {
				--_padding-y: 10px;
				--_padding-x: 10px;

				.icon {
					--_i-size: 12px;
				}
			}

			&-image {
				width: 170px;
				height: auto;
				right: -14px;
				bottom: -100px;
			}
		}
	}

	.cashback {

		&__advantages {
			grid-template-columns: 1fr;
		}

		&__advantage {
			flex-direction: row;
			text-align: left;

			&-icon {
				margin-inline-end: 34px;
				margin-block-end: initial;
			}
		}
	}

	.news {

		&__list {
			grid-template-columns: 1fr;
		}
	}

	.swiper__product {

		&-thumb {

			&-image {
				height: 17vw;
			}
		}
	}

	.product {

		&__swiper {

			&-wrapper {
				grid-template-columns: minmax(280px, 540px);
			}
		}

		&-model {

			&__benefits {
				grid-template-columns: 1fr;
				gap: 10px;
				text-align: left;

				&-item {
					flex-direction: row;
				}

				&-picture {
					margin-inline-end: 10px;
					margin-block-end: 0;
				}
			}
		}

		&-reviews {

			&__header {
				flex-direction: column;
				align-items: flex-start;
			}

			&__author {
				flex-direction: column-reverse;
				align-items: flex-start;

				&-rating {
					width: 100%;
					flex-direction: row-reverse;
					justify-content: space-between;
				}
			}
		}

		&-articles {

			&__btn {
				display: none;
			}
		}
	}

	.favorite {

		&__list {
			grid-template-columns: repeat(2, minmax(170px, 430px));
		}
	}

	.order {

		&__choice {
			grid-template-columns: 1fr;
		}

		&__step {

			&-form {
				grid-template-columns: 1fr;

				&-btn {
					max-width: 100%;
				}
			}

			&-fields {

				&-full {

					&--5 {
						grid-template-columns: 1fr;
					}
				}
			}
		}
	}

	.footer {

		&-bottom {

			&__container {
				flex-direction: column-reverse;
				gap: 20px;
			}
		}
	}
	//** (End) Blocks **//

}

@media screen and (max-width: 389px) {

	//** (Start) Blocks **//
	.catalog {


		&__content {


			&-list {
				grid-template-columns: minmax(160px, 600px);
			}
		}
	}

	.favorite {

		&__list {
			grid-template-columns: repeat(1, minmax(170px, 360px));
		}
	}
	//** (End) Blocks **//

}