@media screen and (max-width: 1840px) {

	//** (Start) General **//
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: -20px;
	}
	
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: -20px;
	}
	//** (End) General **//

}

@media screen and (max-width: 1400px) {

	//** (Start) General **//
	.account {
		gap: 14px;

		&__name {
			display: none;
		}

	}
	//** (End) General **//

	//** (Start) Blocks **//
	.header {

		&__bottom {
			gap: 30px;

			&-menu {
				gap: 30px;
			}
		}
	}

	.category {


		&__inner {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.cashback {


		&__header {
			grid-template-columns: .1fr .5fr;

			&-image {
				width: 60%;
			}
		}
	}

	.catalog {


		&__content {


			&-list {
				grid-template-columns: repeat(2, minmax(280px, 600px));
			}
		}
	}
	//** (End) Blocks **//

}

@media screen and (max-width: 1200px) {

	//** (Start) Blocks **//
	.header {

		&__bottom {
			gap: 20px;

			&-menu {
				gap: 20px;
			}
		}
	}

	.category {


		&__inner {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.cashback {


		&__header {
			grid-template-columns: 1fr;
			gap: 30px;
			padding: 0;

			&-image {
				width: 100%;
				display: block;
				position: static;
			}

			&-info {
				padding: 40px 40px 0;
				text-align: center;
				order: -1;
			}
		}
	}

	.news {

		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.footer {


		&-top {


			&__detail {
				grid-template-columns: repeat(2, max-content);
			}
		}
	}
	//** (End) Blocks **//

}

@include tablet {

	//** (Start) Blocks **//
	.header {

		&-fixed {
			top: 0;
		}

		.burger {
			display: block;
		}

		> .container {
			display: flex;
			align-items: center;
			padding-block: 20px;
		}

		&__top,
		&__bottom {
			padding: 0;
			gap: 20px;
		}

		&__top {
			width: 100%;

			&-menu {
				display: none;
			}
		}

		&__bottom {
			gap: 20px;

			&-menu {
				flex-direction: column;
				align-items: flex-start;
				gap: 20px;

				&-link {
					--_padding-y: 0;
				}
			}
		}

		&__logo {
			margin-inline: auto;
		}

		&__menu {
			width: calc(100% - 60px);
			max-width: 360px;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 12px;
			align-items: flex-start;
			background-color: var(--background-light);
			padding: 20px;
			position: fixed;
			top: 0;
			right: 0;
			transform: translateX(100%);
			z-index: 20;

			transition: transform var(--transition-duration) var(--transition-type);

			&-list {
				display: flex;
				align-items: center;
				gap: 12px;
				margin-block: auto 12px;

				a {
					color: var(--text-color-brighter);
					position: relative;

					&:is(:hover, :focus-visible, :active, .is-active) {
						color: var(--primary-color);
					}
				}

				.icon {
					--_i-size: 20px;
					transition: initial;
				}
			}

			&.menu--active {
				transform: initial;
			}
		}

		&__dropdown {
			
			&-btn {
				--_color: var(--dark-color);
				padding: 0;
			}

			&-menu {
				display: none;
				padding: 20px 0 0;
				box-shadow: initial;
				opacity: 1;
				visibility: visible;
				position: static;
			}

			&-list {
				gap: 20px;
				border: 0;
				padding: 0;
			}

			&-link {
				--_font-weight: 700;
				--_color: var(--dark-color);
				white-space: unset;
			}

			&:is(:hover, :focus-visible, :active, .is-active) {

				.header__dropdown-menu {
					display: flex;
				}

			}
		}

		&__search {

			&-wrapper {

				&.is-show {
					width: 20px;
					height: 20px;
					margin-block: -6px;
					position: relative;

					.header__search {
						min-width: 360px;
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						z-index: 16;
					}
				}
			}
		}

		&__callback {
			flex-direction: column;
			align-items: flex-start;
			gap: 6px;
		}

	}

	.search {

		&__dropdown {
			height: 70vh;
			height: 70dvh;
		}
	}

	.cashback {

		&__advantages {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.mailing {
		grid-template-columns: 1fr;

		&__form {
			grid-template-columns: minmax(220px, 70%) minmax(140px, 30%);
		}
	}

	.catalog {

		&__filter {
			width: calc(100% + var(--container-offset) * 2);
			margin-inline: calc(var(--container-offset) * -1);
			overflow: hidden;
			position: relative;

			&::before {
				content: '';
				width: 100%;
				height: 1px;
				background-color: #D7DDE3;
				position: absolute;
				bottom: 2px;
				left: 0;
			}

			&-title {
				display: none;
			}

			&-content {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 20px;
				padding: 0 var(--container-offset) 2px;
				overflow-x: scroll;

				&::-webkit-scrollbar {
					display: none;
				}
			}

			&-accordion {
				overflow: visible;
				
				&:not(:last-child) {
					margin-block-end: initial;
				}

				.accordion__title {
					transform: translateY(1px);
					padding-block: 14px;
					position: relative;

					&::before {
						content: '';
						width: 100%;
						height: 2px;
						background-color: transparent;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 1;
					}
				}

				.accordion__content {
					display: none;
				}

				&[open] {


					.accordion__title {
						&::before {
							background-color: var(--primary-color);
						}
					}
				}
			}
		}

		&__inner {
			grid-template-columns: 1fr;
			gap: 60px;
		}
	}

	.footer {


		&-top {


			&__container {
				grid-template-columns: 1fr;
			}
		}
	}
	//** (End) Blocks **//

}

@include small-tablet {

	//** (Start) General **//
	h1,
	.h1 {
		font-size: 36px;
	}

	h2,
	.h2 {
		font-size: 22px;
	}

	.section {
		margin-block-end: 60px;

		&__header {
			margin-block-end: 30px;
		}

		&__title {
			margin-block-end: 0;
		}

		&__link {
			display: none;
		}
	}

	.border-top {
		border: 0;
		padding-block-start: 0;

		&::before {
			content: '';
			display: block;
			width: calc(100% + var(--container-offset) * 2);
			margin-left: calc(var(--container-offset) * -1);
			border-top: 1px solid #D7DDE3;
			grid-column: -1 / 1;
			margin-block-end: 20px;
		}
	}

	.field {
		--_height: 44px;
		--_font-size: 16px;
		--_padding-x: 12px;
	}

	.btn-dark {
		--_font-size: 14px;
		--_padding-y: 14px;
	}

	.custom-checkbox {
		gap: 6px;

		&__field {
			width: 32px;
			height: 32px;
			border-radius: 6px;
		}

		&__checked {
			background-size: 13px 10px;
		}

		&__content {
			font-size: 12px;
		}
	}

	.md-hidden {
		display: none;
	}

	.swiper-pagination {
		--swiper-pagination-bullet-size: 8px;
		--swiper-pagination-bullet-horizontal-gap: 4px;
	}

	.section-banner {
		margin-block-end: 0;
	}

	.banner {
		min-height: 320px;
		display: flex;
		align-items: flex-end;
		margin: 20px 20px 0 20px;
		border-radius: 16px;
		overflow: hidden;

		&__inner {
			width: 100%;
			min-height: 200px;
			padding: 30px 16px;
		}
	}

	.price {
		flex-wrap: wrap;
		gap: 8px;

		&-main {
			width: 100%;
			order: 1;
			font-size: 18px;
		}

		&-sale {
			font-size: 14px;
		}
	}
	//** (End) General **//

	//** (Start) Blocks **//
	.swiper__hero {

		&-prev,
		&-next {
			display: none;
		}
	}


	.hero {
		min-height: 520px;
		display: flex;
		align-items: flex-end;
		margin: var(--container-offset) var(--container-offset) 0 var(--container-offset);
		border-radius: 16px;
		overflow: hidden;

		&__inner {
			width: 100%;
			min-height: 270px;
			align-items: center;
			padding-block: 40px;
		}

		&__title,
		&__text  {
			text-align: center;
		}

		&__title {
			max-width: 360px;
			margin-block-end: 30px;
		}

		&__text {
			max-width: 280px;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	.category {


		&__inner {
			grid-template-columns: 1fr;
			gap: 20px;

			&::before {
				margin-block-end: initial;
			}
		}

		&__link {


			&-image {
				transform: initial;
			}
		}
	}

	.swiper__card {
		overflow: visible;

		&-image-pagination {
			display: none;
		}
	}

	.swiper__card-next,
	.swiper__card-prev {
		display: none;
	}

	.card {
		--_padding-y: 12px;
		--_padding-x: 6px;

		&__image {
			max-width: 100px;
			min-height: 100px;
			margin: 0 auto 12px;
		}

		&__header {
			margin-block-end: 12px;

			&-article {
				font-size: 12px;
			}

			&-title {
				font-size: 16px;
			}
		}

		&__detail {
			margin-block-end: 12px;
		}

		&__price {
			margin-block-end: 12px;
		}

		&__split,
		&__yandex {
			font-size: 12px;

			&-badge {

				.icon {
					--_i-size: 10px;
				}
			}
		}

		&__buttons {
			gap: 4px;
		}
	}

	.card-search {

		&__price {
			flex-wrap: nowrap;

			.price-main {
				width: auto;
				order: -1;
			}
		}
	}

	.cashback {


		&__header {
			gap: 30px;

			&-info {
				padding: 40px 16px 0;
			}

			&-title {
				font-size: 24px;
				margin-block-end: 20px;
			}

			&-text {
				font-size: 16px;
			}
		}

		&__advantages {
			gap: 10px;
		}

		&__advantage {
			min-height: initial;
			padding: 20px 24px;

			&-title {
				font-size: 16px;
				margin-block-end: 8px;
			}

			&-text {
				font-size: 14px;
			}
		}
	}

	.swiper__tech {
		overflow: hidden;

		&-next,
		&-prev {
			display: none;
		}

		&-pagination {
			display: block;
		}
	}

	.tech {
		padding: 16px;

		&__detail {
			min-height: initial;

			&-title {
				font-size: 22px;
				margin-block-end: 12px;
			}

			&-btn {
				font-size: 12px;

				.icon {
					--_i-size: 8px;
				}
			}
		}
	}

	.news {

		&__item {
			--_padding-y: 20px;

			&-image {
				margin-block-end: 12px;
			}

			&-time {
				font-size: 14px;
				margin-block-end: 10px;
			}

			&-title {
				font-size: 18px;
			}

			&-buttons {
				margin-block-start: 20px;
			}

			&-button {
				--_font-size: 14px;

				.icon {
					--_i-size: 8px;
				}
			}
		}
	}

	.section-mailing {
		margin-block-end: 40px;
	}

	.mailing {
		gap: 20px;
		padding: 20px 16px;

		&__info {

			&-title {
				font-size: 18px;
				margin-block-end: 12px;
			}

			&-text {
				font-size: 14px;
			}
		}

		&__form {
			grid-template-columns: 1fr;
			gap: 8px;

			&-field {
				--_font-size: 14px;
			}

			&-checkbox {
				order: initial;
			}

			&-button {
				margin-block-start: 8px;
			}
		}
	}

	.catalog {

		&__filter {

			.accordion__title {
				font-size: 16px;
			}
		}

		&__inner {
			gap: 30px;

			&-title {
				font-size: 22px;
				margin-block-end: 30px;
			}
		}

		&__content {

			&-inner {
				
				& + & {
					margin-block-start: 20px;
				}
			}

			&-header {
				margin-block-end: 20px;
			}

			&-title {
				font-size: 22px;
			}

			&-brand {
				height: 24px;
			}

			&-current {
				font-size: 14px;
			}

			&-list {
				grid-template-columns: repeat(2, minmax(160px, 600px));
				gap: 10px;
			}
		}

	}

	.footer {


		&-top {
			padding-block: 40px;

			&__container {
				gap: 40px;
			}

			&__logo {
				max-width: 200px;
				margin-block-end: 20px;
			}

			&__callback {
				
				& + & {
					margin-block-start: 20px;
				}

				.callback__number {
					font-size: 22px;
				}
			}

			&__detail {
				grid-template-columns: repeat(2, 1fr);
				gap: 30px 16px;
			} 

			&__list {
				grid-template-columns: 1fr;
				gap: 20px;

				&:first-child {
					grid-column: -1 / 1;
				}

				&-inner {
					grid-template-columns: repeat(2, 1fr);
					gap: 20px 16px;
					justify-content: space-between;
				}

				&-title {
					margin-block-end: 10px;
				}

				&-link {
					--_font-size: 16px;
				}
			}
		}

		&-bottom {
			padding-block: 40px;

			&__detail,
			&__copy {
				font-size: 12px;
				font-weight: 400;
			}

			&__list {
				gap: 10px;
				text-align: left;
			}

			&__link {
				--_font-size: 12px;
			}
		}
	}
	//** (End) Blocks **//

}


@media screen and (max-width: 576px) {

	//** (Start) Blocks **//
	.header {

		&__search {
			
			&-wrapper {

				&.is-show {
					
					.header__search {
						min-width: initial;
						width: calc(100% - var(--container-offset) * 2);
						position: fixed;
						top: 14px;
						left: var(--container-offset);
						right: var(--container-offset);
						z-index: 16;
						transform: initial;
					}
				}
			}
		}
	}

	.search {

		&__dropdown {
			width: auto;
			height: calc(100% - 100px);
			position: fixed;
			top: 80px;
			left: var(--container-offset);
			right: var(--container-offset);
		}
	}

	.category {

		&__link {
			min-height: 160px;
			padding: 20px;

			&-title {
				font-size: 18px;
				margin-block-end: 12px;
			}

			&-btn {
				--_padding-y: 10px;
				--_padding-x: 10px;

				.icon {
					--_i-size: 12px;
				}
			}

			&-image {
				width: 170px;
				height: auto;
				right: -14px;
				bottom: -100px;
			}
		}
	}

	.cashback {

		&__advantages {
			grid-template-columns: 1fr;
		}

		&__advantage {
			flex-direction: row;
			text-align: left;

			&-icon {
				margin-inline-end: 34px;
				margin-block-end: initial;
			}
		}
	}

	.news {

		&__list {
			grid-template-columns: 1fr;
		}
	}

	.footer {

		&-bottom {

			&__container {
				flex-direction: column-reverse;
				gap: 20px;
			}
		}
	}
	//** (End) Blocks **//

}

@media screen and (max-width: 389px) {

	//** (Start) Blocks **//
	.catalog {


		&__content {


			&-list {
				grid-template-columns: minmax(160px, 600px);
			}
		}
	}
	//** (End) Blocks **//

}