<section class="section cashback">
	<div class="container">
		<div class="cashback__header cashback__header--desktop">
			<picture>
				<source srcset="./img/y-cashback.webp" type="image/webp">
				<img loading="lazy" src="./img/y-cashback.png" class="cashback__header-image image" width="653" height="380" alt="Яндекс Плюс">
			</picture>
			<div class="cashback__header-info">
				<picture>
					<source srcset="./img/y-cashback-logo.webp" type="image/webp">
					<img loading="lazy" src="./img/y-cashback-logo.png" class="cashback__header-logo image" width="86" height="86" alt="Яндекс Лого">
				</picture>
				<h3 class="cashback__header-title">
					Больше кешбэка
				</h3>
				<p class="cashback__header-text">
					Откройте карту Пэй и получайте ещё больше баллов Плюса — ими можно оплачивать покупки в сервисах Яндекса
				</p>
			</div>
		</div>
		<div class="cashback__header cashback__header--mobile">
			<picture>
				<source srcset="./img/y-cashback-pay.webp" type="image/webp">
				<img loading="lazy" src="./img/y-cashback-pay.png" class="cashback__header-image image" width="280" height="280" alt="Яндекс Pay">
			</picture>
			<div class="cashback__header-info">
				<span class="icon cashback__header-logo">
					<svg>
						<use xlink:href="img/y-pay.svg#svg-y-pay"></use>
					</svg>
				</span>
				<h3 class="cashback__header-title">
					Покупки выгоднее с Яндекс Пэй
				</h3>
				<p class="cashback__header-text">
					Сплитуйте, платите любыми картами и получайте кешбэк баллами Плюса — дополнительно к кешбэку вашего банка
				</p>
			</div>
		</div>
		<ul class="cashback__advantages list-reset">
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>