<section class="section category">
	<div class="container">
		<div class="section__header">
			<h3 class="h2 section__title">
				Категории
			</h3>
		</div>
		<ul class="category__inner border-top list-reset">
			<li>
				<a href="./catalog.html" class="category__link">
					<picture>
						<source srcset="./img/category-1.webp" type="image/webp">
						<img loading="lazy" src="./img/category-1.png" class="image category__link-image" width="240" height="396" alt="Фото">
					</picture>
					<div class="category__link-bg" style="background-image: image-set( url('./img/category-1.webp') type('image/webp'), url('./img/category-1.png') type('image/png') );"></div>
					<h4 class="category__link-title">
						Кофемашины
					</h4>
					<p class="category__link-text">
						43 Товара <span class="text-primary">СКИДКИ 30%</span>
					</p>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="category__link">
					<picture>
						<source srcset="./img/category-2.webp" type="image/webp">
						<img loading="lazy" src="./img/category-2.png" class="image category__link-image" width="240" height="396" alt="Фото">
					</picture>
					<h4 class="category__link-title">
						Кофеварки
					</h4>
					<p class="category__link-text">
						43 Товара <span class="text-primary">СКИДКИ 30%</span>
					</p>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="category__link">
					<picture>
						<source srcset="./img/category-3.webp" type="image/webp">
						<img loading="lazy" src="./img/category-3.png" class="image category__link-image" width="240" height="396" alt="Фото">
					</picture>
					<h4 class="category__link-title">
						Пылесосы
					</h4>
					<p class="category__link-text">
						43 Товара <span class="text-primary">СКИДКИ 30%</span>
					</p>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="category__link">
					<picture>
						<source srcset="./img/category-4.webp" type="image/webp">
						<img loading="lazy" src="./img/category-4.png" class="image category__link-image" width="240" height="396" alt="Фото">
					</picture>
					<h4 class="category__link-title">
						Отпариватели
					</h4>
					<p class="category__link-text">
						43 Товара <span class="text-primary">СКИДКИ 30%</span>
					</p>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="category__link">
					<picture>
						<source srcset="./img/category-3.webp" type="image/webp">
						<img loading="lazy" src="./img/category-3.png" class="image category__link-image" width="240" height="396" alt="Фото">
					</picture>
					<h4 class="category__link-title">
						Пылесосы
					</h4>
					<p class="category__link-text">
						43 Товара <span class="text-primary">СКИДКИ 30%</span>
					</p>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="category__link">
					<picture>
						<source srcset="./img/category-4.webp" type="image/webp">
						<img loading="lazy" src="./img/category-4.png" class="image category__link-image" width="240" height="396" alt="Фото">
					</picture>
					<h4 class="category__link-title">
						Отпариватели
					</h4>
					<p class="category__link-text">
						43 Товара <span class="text-primary">СКИДКИ 30%</span>
					</p>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="category__link">
					<picture>
						<source srcset="./img/category-1.webp" type="image/webp">
						<img loading="lazy" src="./img/category-1.png" class="image category__link-image" width="240" height="396" alt="Фото">
					</picture>
					<h4 class="category__link-title">
						Кофемашины
					</h4>
					<p class="category__link-text">
						43 Товара <span class="text-primary">СКИДКИ 30%</span>
					</p>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="category__link category__link--all">
					<div>
						<h4 class="category__link-title">
							Перейти в каталог
						</h4>
						<p class="category__link-text">
							22 категории / 154 товара
						</p>
					</div>
					<button type="button" class="btn category__link-btn" tabindex="-1">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</a>
			</li>
		</ul>
	</div>
</section>