<section class="section-hero section">
	<div class="wrapper-slider">
		<div class="swiper swiper__hero">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="hero">
						<span class="hero__bg hero__bg--desktop" style="background-image: url('./img/main-bg.jpg')"></span>
						<span class="hero__bg hero__bg--mobile" style="background-image: url('./img/main-bg.jpg')"></span>
						<div class="hero__inner">
							<h2 class="hero__title h1">
								НОВАЯ КОЛЛЕКЦИЯ
							</h2>
							<p class="hero__text">
								Выгодные предложения на товары новой коллекции Sate
							</p>
							<a href="#" class="btn hero__btn">
								ПОДРОБНЕЕ
								<span class="icon">
									<svg>
										<use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="hero">
						<span class="hero__bg hero__bg--desktop" style="background-image: url('./img/main-bg-2.jpg')"></span>
						<span class="hero__bg hero__bg--mobile" style="background-image: url('./img/main-bg-2.jpg')"></span>
						<div class="hero__inner">
							<h2 class="hero__title h1">
								НОВАЯ КОЛЛЕКЦИЯ
							</h2>
							<p class="hero__text">
								Выгодные предложения на товары новой коллекции Sate
							</p>
							<a href="#" class="btn hero__btn">
								ПОДРОБНЕЕ
								<span class="icon">
									<svg>
										<use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="hero">
						<span class="hero__bg hero__bg--desktop" style="background-image: url('./img/main-bg-3.jpg')"></span>
						<span class="hero__bg hero__bg--mobile" style="background-image: url('./img/main-bg-3.jpg')"></span>
						<div class="hero__inner">
							<h2 class="hero__title h1">
								НОВАЯ КОЛЛЕКЦИЯ
							</h2>
							<p class="hero__text">
								Выгодные предложения на товары новой коллекции Sate
							</p>
							<a href="#" class="btn hero__btn">
								ПОДРОБНЕЕ
								<span class="icon">
									<svg>
										<use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="hero">
						<span class="hero__bg hero__bg--desktop" style="background-image: url('./img/main-bg-4.jpg')"></span>
						<span class="hero__bg hero__bg--mobile" style="background-image: url('./img/main-bg-4.jpg')"></span>
						<div class="hero__inner">
							<h2 class="hero__title h1">
								НОВАЯ КОЛЛЕКЦИЯ
							</h2>
							<p class="hero__text">
								Выгодные предложения на товары новой коллекции Sate
							</p>
							<a href="#" class="btn hero__btn">
								ПОДРОБНЕЕ
								<span class="icon">
									<svg>
										<use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hero__container container">
			<div class="swiper__hero-button">
				<div class="swiper-button-prev swiper__hero-prev">
					<button type="button" class="btn wrapper-slider-btn">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</div>
				<div class="swiper-button-next swiper__hero-next">
					<button type="button" class="btn wrapper-slider-btn">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</div>
			</div>
		</div>

		<div class="swiper-pagination swiper__hero-pagination"></div>
	</div>
</section>