<div class="product">
	<div class="container">
		<div data-da="#productMain,1024,1" class="product__header">
			<h2 class="product__header-title">
				Вертикальный Пылесос Sate CT-200
			</h2>
			<div class="product__header-reviews">
				@include('rating.html')
			</div>
			<button type="button" class="btn product__favorite product__header-favorite">
				<span class="icon product__favorite-icon">
					<svg>
						<use xlink:href="img/favorite.svg#svg-favorite"></use>
					</svg>
				</span>
				<span class="product__favorite-text">
					В избранное
				</span>
			</button>
		</div>

		<div id="productMain" class="product__main">
			<div class="product__swiper-wrapper">
				<div class="wrapper-slider wrapper-slider--vertical">
					<div thumbsSlider class="swiper swiper__product-thumb">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="swiper__product-thumb-picture">
									<picture>
										<source srcset="./img/product-1-thumb.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1-thumb.png" class="swiper__product-thumb-image image" width="16" height="66" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-thumb-picture">
									<picture>
										<source srcset="./img/product-2-thumb.webp" type="image/webp">
										<img loading="lazy" src="./img/product-2-thumb.png" class="swiper__product-thumb-image image" width="16" height="66" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-thumb-picture">
									<picture>
										<source srcset="./img/product-3-thumb.webp" type="image/webp">
										<img loading="lazy" src="./img/product-3-thumb.png" class="swiper__product-thumb-image image" width="16" height="66" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-thumb-picture">
									<picture>
										<source srcset="./img/product-4-thumb.webp" type="image/webp">
										<img loading="lazy" src="./img/product-4-thumb.png" class="swiper__product-thumb-image image" width="16" height="66" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-thumb-picture">
									<picture>
										<source srcset="./img/product-5-thumb.webp" type="image/webp">
										<img loading="lazy" src="./img/product-5-thumb.png" class="swiper__product-thumb-image image" width="16" height="66" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-thumb-picture">
									<picture>
										<source srcset="./img/product-6-thumb.webp" type="image/webp">
										<img loading="lazy" src="./img/product-6-thumb.png" class="swiper__product-thumb-image image" width="16" height="66" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-thumb-picture">
									<picture>
										<source srcset="./img/product-1-thumb.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1-thumb.png" class="swiper__product-thumb-image image" width="16" height="66" alt="Фото">
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="wrapper-slider">
					<div class="swiper swiper__product">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="swiper__product-picture">
									<picture>
										<source srcset="./img/product-1.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1.png" class="swiper__product-image image" width="100" height="460" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-picture">
									<picture>
										<source srcset="./img/product-1.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1.png" class="swiper__product-image image" width="100" height="460" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-picture">
									<picture>
										<source srcset="./img/product-1.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1.png" class="swiper__product-image image" width="100" height="460" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-picture">
									<picture>
										<source srcset="./img/product-1.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1.png" class="swiper__product-image image" width="100" height="460" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-picture">
									<picture>
										<source srcset="./img/product-1.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1.png" class="swiper__product-image image" width="100" height="460" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-picture">
									<picture>
										<source srcset="./img/product-1.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1.png" class="swiper__product-image image" width="100" height="460" alt="Фото">
									</picture>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="swiper__product-picture">
									<picture>
										<source srcset="./img/product-1.webp" type="image/webp">
										<img loading="lazy" src="./img/product-1.png" class="swiper__product-image image" width="100" height="460" alt="Фото">
									</picture>
								</div>
							</div>
						</div>
					</div>
				</div>

				<ul data-da="#productMain,1024,2" class="product__main-helpers list-reset">
					<li>
						<a href="#" class="btn product__main-helpers-link">
							Скачать инструкцию
							<br>
							Кофемашина Sate СТ-200
							<span class="icon product__main-helpers-icon">
								<svg>
									<use xlink:href="img/arrow-top-right-2.svg#svg-arrow-top-right-2"></use>
								</svg>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="btn product__main-helpers-link">
							Скачать гарантийный талон
							<span class="icon product__main-helpers-icon">
								<svg>
									<use xlink:href="img/arrow-top-right-2.svg#svg-arrow-top-right-2"></use>
								</svg>
							</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="product__info">
				<div class="product__brand">
					<picture>
						<img loading="lazy" src="./img/sate.svg" class="product__brand-image image" width="40" height="15" alt="Брэнд">
					</picture>
					<div class="product__brand-info">
						<h3 class="product__brand-title">
							Sate
						</h3>
						<a href="#" class="btn product__brand-btn">
							Подробнее
							<span class="icon product__brand-btn-icon">
								<svg>
									<use xlink:href="img/arrow-top-right-2.svg#svg-arrow-top-right-2"></use>
								</svg>
							</span>
						</a>
					</div>
				</div>

				<div class="product__choice">
					<h4 class="product__choice-title">
						Состояние товара
					</h4>
					<ul class="product__choice-list list-reset">
						<li>
							<button type="button" class="btn product__choice-btn is-active">
								<span class="product__choice-btn-title">
									Новый
								</span>
								<span class="product__choice-btn-price">
									46 990₽
								</span>
							</button>
						</li>
						<li>
							<button type="button" class="btn product__choice-btn">
								<span class="product__choice-btn-title">
									Уцененный
								</span>
								<span class="product__choice-btn-price">
									32 990₽
								</span>
							</button>
						</li>
					</ul>
				</div>

				<div class="product__choice">
					<h4 class="product__choice-title">
						Цвет
					</h4>
					<ul class="product__choice-list list-reset">
						<li>
							<button type="button" class="btn product__choice-btn is-active">
								Серый
							</button>
						</li>
						<li>
							<button type="button" class="btn product__choice-btn">
								Черный
							</button>
						</li>
					</ul>
				</div>

				<div class="product__benefits">
					<ul class="product__benefits-list list-reset">
						<li class="product__benefits-item">
							<picture>
								<source srcset="./img/product-benefits-1.webp" type="image/webp">
								<img loading="lazy" src="./img/product-benefits-1.png" class="product__benefits-image image" width="30" height="30" alt="Иконка">
							</picture>
							<span class="product__benefits-text">
								До 60 минут непрерывной работы
							</span>
						</li>
						<li class="product__benefits-item">
							<picture>
								<source srcset="./img/product-benefits-2.webp" type="image/webp">
								<img loading="lazy" src="./img/product-benefits-2.png" class="product__benefits-image image" width="30" height="30" alt="Иконка">
							</picture>
							<span class="product__benefits-text">
								Мощность 550 Вт
							</span>
						</li>
						<li class="product__benefits-item">
							<picture>
								<source srcset="./img/product-benefits-3.webp" type="image/webp">
								<img loading="lazy" src="./img/product-benefits-3.png" class="product__benefits-image image" width="30" height="30" alt="Иконка">
							</picture>
							<span class="product__benefits-text">
								5 ступеней фильтрации
							</span>
						</li>
						<li class="product__benefits-item">
							<picture>
								<source srcset="./img/product-benefits-4.webp" type="image/webp">
								<img loading="lazy" src="./img/product-benefits-4.png" class="product__benefits-image image" width="30" height="30" alt="Иконка">
							</picture>
							<span class="product__benefits-text">
								Объем контейнера 500 мл
							</span>
						</li>
						<li class="product__benefits-item">
							<a href="#" class="btn product__benefits-link">
								Смотреть все характеристики
								<span class="icon product__benefits-link-icon">
									<svg>
										<use xlink:href="img/arrow-top-right-2.svg#svg-arrow-top-right-2"></use>
									</svg>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<aside class="product__aside">
				<div class="product__detail">
					<div class="product__detail-price price">
						<span class="price-main">
							46 990 ₽
						</span>
						<span class="price-sale">
							69 990 ₽
						</span>
						<span class="price-text">
							Следить за ценой
						</span>
					</div>
					<div class="product__detail-delivery">
						<span class="icon product__detail-delivery-icon">
							<svg>
								<use xlink:href="img/truck-2.svg#svg-truck-2"></use>
							</svg>
						</span>
						Доставим 18 февраля
					</div>
					<button type="button" class="btn btn-dark btn-dark-lg product__detail-btn">
						Добавить в корзину
					</button>
					<div class="product__detail-cashback">
						<a href="#" class="card__split btn">
							<span class="card__split-badge">
								<span class="icon">
									<svg>
										<use xlink:href="img/split.svg#svg-split"></use>
									</svg>
								</span>
								<span>
									3500 ₽
								</span>
							</span>
							<p class="card__split-text">
								<span class="md-hidden">x 4 платежа</span> в Сплит
							</p>
							<span class="card__split-icon icon">
								<svg>
									<use xlink:href="img/arrow-right-3.svg#svg-arrow-right-3"></use>
								</svg>
							</span>
						</a>
						<a href="#" class="card__yandex btn">
							<span class="card__yandex-badge">
								<picture>
									<img loading="lazy" src="./img/yandex-plus-2.svg" class="card__yandex-image image" width="14" height="14" alt="Иконка">
								</picture>
								<span>
									210
								</span>
							</span>
							<p class="card__yandex-text">
								баллов плюса
							</p>
							<span class="card__yandex-icon icon">
								<svg>
									<use xlink:href="img/arrow-right-3.svg#svg-arrow-right-3"></use>
								</svg>
							</span>
						</a>
						<div class="card__ypay">
							<span class="card__ypay-text">
								Оплатите частями или с кешбэком от
								<picture>
									<img loading="lazy" src="./img/yandex-pay.svg" class="card__ypay-image image" width="45" height="16" alt="Иконка">
								</picture>
							</span>
						</div>
					</div>
				</div>

				<ul class="product__aside-benefits list-reset">
					<li class="product__aside-benefits-item">
						<picture>
							<img loading="lazy" src="./img/truck-express.svg" class="product__aside-benefits-image image" width="16" height="16" alt="Иконка">
						</picture>
						<span class="product__aside-benefits-text">
							Экспресс доставка
						</span>
					</li>
					<li class="product__aside-benefits-item">
						<picture>
							<img loading="lazy" src="./img/guard.svg" class="product__aside-benefits-image image" width="16" height="16" alt="Иконка">
						</picture>
						<span class="product__aside-benefits-text">
							Гарантия 1 год
						</span>
					</li>
				</ul>
			</aside>
		</div>
	</div>
</div>